*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
Gemfile
Gemfile.lock
buildSrc/build
build-logic/convention/build
fastlane/report.xml
.kotlin/
app/google-services.json
service-account.json